{% extends 'base.html' %}

{% block content %}
<div class="wrapper">
    <div class="form-box">
        <h2>Mot de passe oublié</h2>
        <form action="/php/forgot_password.php" method="post" onsubmit="event.preventDefault();">
            <div class="input-box">
                <span class="icon"></span>
                <input type="email" id="email" name="recup_email" required>
                <label for="recup_email">Adresse Email</label>
            </div>
            <div class="forgot-password">
                <p>Un nouveau mot de passe va être envoyé à l'adresse Email saisie.</p>
            </div>
            <button type="button" class="btn" value="Valider" name="recup_submit" onclick="forgotPassword()">ENVOYER UNE DEMANDE</button>
        </form>
    </div>
</div>
{% endblock %}
