{% extends 'base.html' %}

{% block content %}
<body class="background-grey">
    <div class="wrapper">
        <div class="form-box">
            <h2>Mot de passe oublié</h2>
            <form method="post">
                <div class="entry-box">
                    <input type="password" name="mdp" id="mdp" required>
                    <label for="mdp">Mot de passe provisoire</label>
                </div>
                <div class="entry-box">
                    <input type="password" name="mdp" id="mdp" required>
                    <label for="mdp">Mot de passe*</label>
                </div>
                <div class="entry-box">
                <input type="password" name="mdp_confirm" id="mdp_confirm" required>
                <label for="mdp_confirm">Mot de passe*</label>
                </div>
                <div class="forgot-password">
                    <a href="{{ url_for('auth.forgot_password_page') }}">Envoyer un nouveau mot de passe</a>
                </div>
                <button href="#" type="submit" class="btn">Se connecter</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}

<!-- créer une route -->
<!-- spécification mdp identique -->
<!-- lien avec la page forgot_password.html -->
