{% extends 'base.html' %}

{% block content %}
<body class="background-grey">
  <form action="{{ url_for('auth_bp.set_password') }}" method="POST">
    <div class="register-content">
      <div class="register-titel">
        <h2>Définir votre mot de passe</h2>
      </div>
      <div class="register-section">
        <div class="entry-box">
          <input type="password" name="password" id="password" required>
          <label for="password">Nouveau mot de passe</label>
        </div>
        <div class="entry-box">
          <input type="password" name="confirm_password" id="confirm_password" required>
          <label for="confirm_password">Confirmer le mot de passe</label>
        </div>
        <button type="submit" class="btn">Définir le mot de passe</button>
      </div>
    </div>
  </form>
</body>
{% endblock %}