{%extends 'base_user.html' %}

{% block content %}
<body class="background-grey">
    <div class="information-section">
        <div class="course-content">
                <h4>{{ course_data['name'] }}</h4>
                <a href=""><button class="btn-home">S'inscire</button></a>
                <!--ajouter le lien vers l'URL de paiement pour la course-->
        </div>  


        <div class="information-content">
            <div class="information">
                <div class="left-container-information">
                    <h3>Informations</h3>
                    <div class="course-information">
                        <p>Nom : {{ course_data['name'] }}</p>
                        <p>Organisateur : {{ course_data['club'] }}</p>
                        <p>Date : {{ course_data['date'] }}</p>
                        <p>Lieu : {{ course_data['location'] }}, {{ course_data['canton'] }}, {{ course_data['country'] }}</p>
                        <p>Site officiel : {{ course_data['site_club'] }}</p>
                    </div>
                </div>
                <div class="right-container-information">
                    <p>carte</p>
                </div>
            </div>
            <div class="category-content">
                <div class="horizontal-bar"></div>
                <h3>Catégories</h3>
                <div class="category">
                    <div class="category-name">
                        <p>Name</p>
                    </div>
                    <div class="category-information-content">
                        <div class="category-information">
                            <p>heure</p>
                            <p>années</p>
                            <p>prix</p>
                        </div>
                        <div class="category-information">
                            <p>distance</p>
                            <p>d+</p>
                            <p>d-</p>
                        </div>
                        <!--création des catégories en fonction de la base de donnée-->
                    </div>

                </div>
            </div>

        </div>

    </div>
</body>

{% endblock %}