{% extends 'base.html' %}

{% block content %}
<body class="background-grey">

    <form action="{{ url_for('course_bp.export_excel', id_course=id_course) }}" method="POST">

        <div class="liste-section">
            <div class="liste-titel">
                <div>
                    <h2>Listes des participants</h2>
                    <h2>{{name}}</h2>
                </div>
                <button type="submit" id="liste-btn">Télécharger fichier Excel</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Année de naissance</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Sexe</th>
                        <th>Localité</th>
                        <th>Origine</th>
                        <th>Club</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in listes %}
                    <tr>
                        <td>{{ participant[0] }}</td>
                        <td>{{ participant[1] }}</td>
                        <td>{{ participant[2] }}</td>
                        <td>{{ participant[3] }}</td>
                        <td>{{ participant[4] }}</td>
                        <td>{{ participant[5] }}</td>
                        <td>{{ participant[6] }}</td>
                        <td>{{ participant[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
{% endblock %}

