{% extends 'base.html' %}

{% block content %}
<body class="background-grey">
        <div class="liste-section">
            <div class="liste-titel">
                <div>
                    <h2>Listes des participants</h2>
                    <h2>{{name}}</h2>
                </div>
            </div>

            {% if listes %}
            <table>
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Année de naissance</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Sexe</th>
                        <th>Localité</th>
                        <th>Origine</th>
                        <th>Club</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in listes %}
                    <tr>
                        <td>{{ participant[0] }}</td>
                        <td>{{ participant[1] }}</td>
                        <td>{{ participant[2] }}</td>
                        <td>{{ participant[3] }}</td>
                        <td>
                            {% if participant[4] == '1' %}
                                Femme
                            {% elif participant[4] == '2' %}
                                Homme
                            {% else %}
                                Autre
                            {% endif %}
                        </td>
                        <td>{{ participant[5] }}</td>
                        <td>{{ participant[6] }}</td>
                        <td>{{ participant[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun participant n'est inscrit actuellement.</p>
        {% endif %}
        </div>
    </form>
</body>
{% endblock %}

