{% extends 'base.html' %}

{% block content %}
<body class="background-grey">
  <form action="{{ url_for('admin_bp.inscription') }}" method="POST">

      
    <div class="register-content">
      <div class="register-titel">
        <h2>Inscrire un participant</h2>
      </div>
      <div class="register-section">
        <div class="left-box">
              <div class="entry-box">
                <input type="text" name="name" id="name" required>
                <label for="name">Nom*</label>
              </div>
              <div class="entry-box">
                <input type="text" name="surname" id="surname" required>
                <label for="surname">Prénom*</label>
              </div>
              <div id="entry-box-sexe">
                <label id="entry-box-sexe-label" for="sexe">Sexe*</label>
                <div class="horizontal-radio">
                  <input type="radio" name="sexe" value="1" id="choix1">
                  <label for="choix1">Femme</label>
                </div>
                <div class="horizontal-radio">
                  <input type="radio" name="sexe" value="2" id="choix2">
                  <label for="choix2">Homme</label>
                </div>
                <div class="horizontal-radio">
                  <input type="radio" name="sexe" value="3" id="choix3">
                  <label for="choix3">Autre</label>
                </div>
              </div>
              <div class="entry-box">
                <input type="date" name="age" id="age" required>
                <label for="age">Année de naissance*</label>
              </div>
        </div>
      
        <div class="right-box">  
              <div class="entry-box">
                  <input type="text" name="origin" id="origin" required>
                  <label for="origin">Origine*</label>
              </div>
              <div class="entry-box">
                  <input type="text" name="location" id="location" required>
                  <label for="location">Localité*</label>
              </div>
              <div class="entry-box">
                  <input type="text" name="club" id="club">
                  <label for="club">Club sportif / association</label>
              </div>
              <button type="submit" class="btn">Inscrire</button>
        </div>   
      </div>
    </div>
  </form>
</body>

{% endblock %}

<!-- faire un lien avec la course concerné -->
<!-- écrire le lien avec la base de donnée dans le fichier python -->