{%extends 'base_user.html' %}

{% block content %}
<body class="background-grey">
    <div class="information-section">
        <div class="course-content">
                <h3>{{ name }}</h3>
                {% if g.user  %}
                <a href="{{ url_for('course_bp.course_user_information', id_course=course['id_course'], name=course['name']) }}"><button class="btn-inscription">S'inscire</button></a>
        
                {% else %}
                <a href="{{ url_for('auth.login') }}"><button class="btn-inscription">S'inscire</button></a>
                {% endif %}
        </div>  


        <div class="information-content">
            <div class="information">
                <div class="left-container-information">
                    <h3>Informations</h3>
                    <div class="course-information">
                        <p>Nom : {{ name }}</p>
                        <p>Organisateur : {{ club }}</p>
                        <p>Date : {{ date }}</p>
                        <p>Lieu : {{ location }}, {{ canton }}, {{ country }}</p>
                        <p>Site officiel : <a href="{{ site_club }}">{{ site_club }}</a></p>
                    </div>
                </div>
                <div class="right-container-information">
                    <p>carte</p>
                    <!--choisir si je laisse "carte" ou pas-->
                </div>
            </div>
            <div class="category-content">
                <div class="horizontal-bar"></div>
                <h3>Catégories</h3>
                {% for category in categories %}
                    <div class="category">
                        <div class="category-name">
                            <p>{{ category.name }}</p>
                        </div>
                        <div class="category-information-content">
                            <div class="category-information">
                                <p>{{ category.start_time }}</p>
                                <p>{{ category.year }}</p>
                                <p>{{ category.price }}</p>
                            </div>
                            <div class="category-information">
                                <p>{{ category.distance }}</p>
                                <p>{{ category.ascent }}</p>
                                <p>{{ category.descent }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</body>

{% endblock %}
