{%extends 'base_user.html' %}

{% block content %}
<div class="page-content"> 
    <h4>About</h4>
    <div class="about-section">
        <p>Bienvue sur SportLog ! SportLog est un site dédié à l'inscritpion à des compétitions sportives. </p>
        <p>Cette application Web a été développé dans le cadre d'un travail de maturité gymnasiale. L'objectif de ce projet était d'acquérir des connaissances dans le domaine du Web ainsi que de mettre au point un outil fonctionnel. Pour programmer cette application, l'étudiant a été amené à s'appropier des outils et des techniques utilisés par les professionnels.</p>
    </div>
</div>
{% endblock %}