{% extends 'base_user.html' %}

{% block content %}
<body>
    <form action="{{ url_for('home.contact_page') }}" method="POST">
        <div class="page-content">  
            <h4>Contact</h4>
            <div class="contact-section">
                <div class="input-box-contact">
                    <div class="input-box-information">
                        <input type="text" name="last_name" id="last-name" placeholder="Nom" required>
                        <input type="text" name="first_name" id="first-name" placeholder="Prénom" required>
                    </div>
                    <div class="input-box-information">
                        <input type="email" name="email" id="email" placeholder="Adresse Email" required>
                        <input type="tel" name="telephone" id="telephone" placeholder="No téléphone" required>
                    </div>
                    <textarea rows="6" name="complaint" id="complaint" placeholder="Votre demande ?" required></textarea>
                    <p>Nous prendrons contact avec vous prochainement</p>
                    <div class="input-box-information">
                        <button class="btn-sent-emails" type="submit" value="File Complaint">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}



