{% extends 'base_user.html' %}


{% block content %}
<div class="home-section"> 
    <div class="information-section">
        <h1>Toutes les courses</h1>
        <ul>
            {% for course in all_courses %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for course in all_courses %}
                <li>
                    <a href="{{ url_for('course_information', id_course=course.id_course, name=course.name) }}">
                        {{ course.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <p>Donnée des courses : {{ all_courses }}</p>

    </div>
</div>   
{% endblock %}
