{%extends 'base_user.html' %}

{% block content %}
<div class="page-content"> 
    <div class="sport-header">
        <h4>Sports</h4>
        <div class="horizontal-bar"></div>
        <nav class="navigation-content">
            <a href="#athletisme">Athlétisme</a>
            <div class="black-point"></div>
            <a href="#course a pied">Course à pied</a>
            <div class="black-point"></div>
            <a href="#marche">Marche</a>
            <div class="black-point"></div>
            <a href="#hippisme">Hippisme</a>
            <div class="black-point"></div>
            <a href="#ski alpin">Ski alpin</a>
            <div class="black-point"></div>
            <a href="#ski nordique">Ski nordique</a>
            <div class="black-point"></div>
            <a href="#triathlon">Triathlon</a>
            <div class="black-point"></div>
            <a href="#VTT">VTT</a>
            <div class="black-point"></div>
            <a href="#autres">Autres</a>
        </nav>
        <div class="horizontal-bar"></div>
    </div>
    <div class="sport-section">
        <div id="athletisme">
            <h3>Athlétisme</h3>
            <div class="sport-course">
                <div class="main-information-sport-course">
                    <div class="name-sport-course">
                        <p>Name</p>
                    </div>
                    <div class="date-location-sport-course">
                        <div class="date-sport-course">
                            <p>date</p>
                        </div>
                        <div class="location-sport-course">
                            <p>location</p>
                        </div>
                    </div>
                    <a href=""><button class="btn-home">En savoir plus</button></a>
                    <!--URL vers informations.html-->
                </div>
            </div>

        </div>
        <div id="course a pied">
            <h3>Course à pied</h3>

        </div>
        <div id="marche">
            <h3>Marche</h3>

        </div>
        <div id="hippisme">
            <h3>Hippisme</h3>

        </div>
        <div id="ski alpin">
            <h3>Ski alpin</h3>

        </div>
        <div id="ski nordique">
            <h3>Ski nordique</h3>

        </div>
        <div id="triathlon">
            <h3>Triathlon</h3>

        </div>
        <div id="VTT">
            <h3>VTT</h3>

        </div>
        <div id="autres">
            <h3>Autres</h3>

        </div>
    </div>


</div>   
{% endblock %}

<!-- classification de toutes les classes à venir par sport -->