{% extends 'base_admin.html' %}



{% block content%}
<body>
    <div class="home-content">
        <div class="home-NextCourse-content">
            <div class="home-NextCourse">
                <div class="titel-NextCourse">
                    <h3>Créer un événement à venir</h3>
                </div>
                <div>
                    <a href="{{ url_for('admin_bp.creation') }}"><button class="btn-home">Créer</button></a>
                </div>
            </div>
        </div>

        {% for course in all_courses %}
            <div class="horizontal-bar"></div>
            <div class="home-NextCourse-content">
                <div class="home-NextCourse">
                    <div class="titel-NextCourse">
                        <h3>{{course.name}}</h3>
                        <div class="vertical-bar-titel"></div>
                        <div>
                            <p>{{course.location}}</p>
                            <p>{{course.date}}</p>
                        </div>
                    </div>
                    <div>
                        <a href="{{ url_for('course_bp.manual_registration', id_course=course.id_course, course_name=course.name) }}"><button class="btn-home">Inscrire un participant</button></a>
                        <a href="{{ url_for('course_bp.liste_inscription', id_course=course.id_course, course_name=course.name) }}"><button class="btn-home">Liste des participants</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
        
    </div>
</body>
    
{% endblock %}