{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('admin_bp.creation') }}" method="POST">

    <div class="creation-content">
        <div class="form-box">
            <div class="entry-box">
                <h2 class="form-title">Créer un événement</h2>
                <button type="submit" class="btn create-btn">Créer</button>
            </div>
        </div>

        <div class="form-box">
            <div class="column">
                <div class="entry-box">
                    <input type="text" name="club" id="club" required>
                    <label for="club">Club/organisateur*</label>
                </div>
                <div class="entry-box">
                    <input type="text" name="name" id="name" required>
                    <label for="name">Nom de l'événement*</label>
                </div>
                <div class="entry-box">
                    <input type="date" name="date" id="date" required>
                    <label for="date">Date*</label>
                </div>
                <div class="entry-box">
                    <input type="text" name="sport" id="sport" required>
                    <label for="sport">Sport*</label>
                </div>
                <div class="entry-box">
                    <input type="text" name="location" id="location" required>
                    <label for="location">Localité*</label>
                </div>
                <div class="entry-box">
                    <input type="text" name="origin" id="origin" required>
                    <label for="origin">Origine*</label>
                </div>
            </div>
        </div>

        <div class="form-box">
            <div class="column">
                <div class="entry-box">
                    <input type="file" name="image1" id="image1" accept="image/*" required>
                    <label for="image1">Ajouter une image/un logo pour la page d'accueil</label>
                </div>
                <div class="entry-box">
                    <input type="file" name="image2" id="image2" accept="image/*" required>
                    <label for="image2">Ajouter une carte du tracé</label>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>CATÉGORIES</th>
                    <th>PRIX</th>
                    <th>HEURE DE DÉPART</th>
                    <th>DISTANCE</th>
                    <th>DÉNIVELÉ POSITIF</th>
                    <th>DÉNIVELÉ NÉGATIF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="titel">Poussins</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Poussines</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecoliers C</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecolières C</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecoliers B</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecolières B</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecoliers A</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Ecolières A</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Cadets B</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Cadettes B</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Cadets A</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Cadettes A</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Juniors M19</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Juniores F19</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">M20</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">F20</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">M40</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">F40</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">M50</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">F50</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">M60</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">F60</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">M70</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                <tr>
                    <td class="titel">Course adaptée</td>
                    <td><input type="text" name="Finance" /></td>
                    <td><input type="text" name="Départ" /></td>
                    <td><input type="text" name="Distance" /></td>
                    <td><input type="text" name="Montée" /></td>
                    <td><input type="text" name="Descente" /></td>
                </tr>
                
            </tbody>
        </table>

    </div>
</form>

{% endblock %}


<!-- placeholde="..." -->

