{% extends 'base.html' %}

{% block content %}
<body class="background-grey">
    
    <form action="{{ url_for('admin_bp.creation') }}" method="POST" enctype="multipart/form-data">

        <div class="creation-section">
            <div class="creation-titel">
                <h2 class="form-title">Créer un événement</h2>
                <button type="submit" id="create-btn">Créer</button>
            </div>

            <div class="creation-content">
                <div>
                    <div class="entry-box">
                        <input type="text" name="name" id="name" required>
                        <label for="name">Nom de l'événement*</label>
                    </div>
                    <div class="entry-box">
                        <input type="date" name="date" id="date" required>
                        <label for="date">Date*</label>
                    </div>
                    <div class="entry-box">
                        <label for="sport">Sport*</label>
                        <select name="sport" id="sport" required>
                            <option value="course à pied">Course à pied</option>
                            <option value="athlétisme">Athlétisme</option>
                            <option value="marche">Marche</option>
                            <option value="triathlon">Triathlon</option>
                            <option value="VTT">VTT</option>
                            <option value="ski nordique">Ski nordique</option>
                            <option value="ski alpin">Ski alpin</option>
                            <option value="caisse à savon">Caisse à savon</option>
                            <option value="hippisme">Hippisme</option>
                        </select>
                    </div>
                    <div class="entry-box">
                        <input type="text" name="club" id="club">
                        <label for="club">Club/organisateur*</label>
                    </div>
                    <div class="entry-box">
                        <input type="url" name="site_club" id="site_club" required>
                        <label for="site_club">URL pour le site web des organisateurs</label>
                    </div>
                </div>
                <div>
                    <div class="entry-box">
                        <input type="text" name="location" id="location" required>
                        <label for="location">Localité*</label>
                    </div>
                    <div class="entry-box">
                        <input type="text" name="canton" id="canton">
                        <label for="canton">Canton</label>
                    </div>
                    <div class="entry-box">
                        <input type="text" name="country" id="country">
                        <label for="country">Pays*</label>
                    </div>
                    <div class="entry-box">
                        <input type="file" name="carte" id="carte" accept="image/*">
                        <label for="carte">Ajouter une carte du tracé</label>
                    </div>
                </div>

                <div id="categories-container">
                    <div class="category-entry">
                        <div class="colonne-name-box">
                            <h4>Nom de la catégorie*</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Années*</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Heure de départ*</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Prix*</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Distance*</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Montée</h4>
                        </div>
                        <div class="colonne-name-box">
                            <h4>Descente</h4>
                        </div>
                    </div>
                    <div class="category-entry">
                        <div class="category-box">
                            <input type="text" name="category_name[]" required placeholder="Nom">
                        </div>
                        <div class="category-box">
                            <input type="text" name="year[]" required placeholder="0000-0000">
                        </div>
                        <div class="category-box">
                            <input type="text" name="start_time[]" required placeholder="00:00">
                        </div>
                        <div class="category-box">
                            <input type="text" name="price[]" required placeholder="...CHF">
                        </div>
                        <div class="category-box">
                            <input type="text" name="distance[]" required placeholder="... km">
                        </div>
                        <div class="category-box">
                            <input type="text" name="ascent[]" required placeholder="... m">
                        </div>
                        <div class="category-box">
                            <input type="text" name="descent[]" required placeholder="... m">
                        </div>
                    </div>
                </div>
                
                <!-- Bouton pour ajouter une nouvelle catégorie -->
                <button type="button" onclick="addCategory()" id="add">+</button>
                <button type="submit" id="create-btn">Créer</button>
            </div>


        </div>
    </form>
</body>

{% endblock %}


<!-- placeholde="..." -->

