{% extends 'base_admin.html' %}



{% block content%}
<div class="home">
    <div class="home-content">
        <h3>Créer un événement à venir</h3>
        <a href="{{ url_for('admin_bp.creation') }}"><button class="btn-home">Créer</button></a>
    </div>

    <div class="home-content2">
        <!-- Prochain événement -->
        <a href="{{ url_for('admin_bp.inscription') }}"><button class="btn-home">Inscrire un participant</button></a>
        <a href="{{ url_for('admin_bp.liste_page') }}"><button class="btn-home">Liste des participants</button></a>
        <a href="{{ url_for('admin_bp.payment') }}"><button class="btn-home">Paiement</button></a>
    </div>


</div>

    
{% endblock %}