<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <a class="logo" href="{{ url_for('home.landing_page') }}">SportLog</a>
        <nav class="navigation">
            <div class="menu-item-content">
                <a class="menu-item" href="{{ url_for('home.sports_page') }}">Sports</a>
                <a class="menu-item" href="{{ url_for('home.contact_page') }}">Contact</a>
                <a class="menu-item" href="{{ url_for('home.about_page') }}">À propos</a>
            </div>
        </nav>
        <div class="connexion-content">
            {% if g.user  %}
                <a class="connexion" href="{{ url_for('auth.logout') }}">Se déconnecter</a>

            {% else %}
                <a class="connexion" href="{{ url_for('auth.login') }}">Se connecter</a>
            {% endif %}
        </div>
       
    </header>

    
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>