<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <a class="logo" href="{{ url_for('admin_bp.admin_show_home') }}">SportLog</a>
        <nav class="navigation">
            <div class="menu-item-content">
                <a class="menu-item" href="{{ url_for('admin_bp.creation') }}">Créer</a>
                <a class="menu-item" href="{{ url_for('admin_bp.courses_historique') }}">Historique</a>
                <a class="menu-item" href="{{ url_for('admin_bp.users') }}">Utilisateurs</a>
            </div>
        </nav>
        <div class="connexion-content">
            <a class="connexion" href="{{ url_for('admin_bp.logout_admin') }}">Se déconnecter</a>
        </div>
    </header>

    
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block extra_js %}{% endblock %}
</body>