<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h2 class="logo">SportLog</h2>
        <nav class="navigation">
            <a href="/sports">Sports</a>
            <a href="/contact">Contact</a>
            <a href="/auth/login">Se connecter</a>
        </nav>
    </header>

    
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>